{% if form %}
<div class="container">
    <h5 class="accordion-header" id="headingOne">
        Filtres
    </h5>
    
        <div class="accordion-body">
            {{ form_start(form)}}  
                {{ form_row(form.libelle)}}
                {{ form_row(form.categorie)}}
                <table id="filtreprix">
                    <tbody>
                        <tr>
                            <td>{{ form_row(form.prixminachat)}}</td>
                            <td>{{ form_row(form.prixmaxachat)}}</td>
                        </tr>
                        <tr>
                            <td>{{ form_row(form.prixminunitaire)}}</td>
                            <td>{{ form_row(form.prixmaxunitaire)}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <button  type="submit"  class="btn btn-secondary">Rechercher</button>
            {{ form_end(form)}}
        </div>
</div>
  
{% endif %}