<div class="container">
{{ form_start(form)}}
    {{ form_row(form.Ligne1)}}
    {{ form_row(form.Ligne2)}}
    {{ form_row(form.Ligne3)}}
    <div class="row">
        <div class="col">
            {{ form_row(form.CP)}}
        </div>
        <div class="col">
            {{ form_row(form.Ville)}}
        </div>
        <div class="col">
            {{ form_row(form.BoitePostale)}}
        </div>
    </div>
    {% if modif == false %}
    <div class="form-check form-switch">
        <label class="form-check-label" for="copieAdresseChantierSurFacturation">L'adresse de facturation est la même que celle du chantier ?</label>
        <input class="form-check-input" type="checkbox" name="copieAdresseChantierSurFacturation" id="copieAdresseChantierSurFacturation" checked="true">  
        <br/>
        <label class="form-check-label" for="gestionMateriauxModele" id="labelGestionMateriauxModele">Gérer l'ajout des lignes via les modèles ?</label>
        <input class="form-check-input" type="checkbox" name="gestionMateriauxModele" id="gestionMateriauxModele" {% if bModeleDispo == true %}
                checked="true"
            {% else %}
                disabled
            {% endif %}
        > 
    </div>
    {% endif %}
    <br />
    <button type="submit" id="btnSuivant" class="btn btn-primary">{{ button_label|default('Continuer vers les articles')}}</button>
{{ form_end(form)}}
</div>

<script>
    $("#copieAdresseChantierSurFacturation").click(function() {
        if($(this).is(':checked')) {
            $("#btnSuivant").text("Continuer vers les articles");
            $("#gestionMateriauxModele").prop('checked', true);
            $("#gestionMateriauxModele").show();
            $("#labelGestionMateriauxModele").show();
        } else {
            $("#btnSuivant").text("Continuer vers l'adresse de facturation");
            $("#gestionMateriauxModele").prop('checked', false);
            $("#gestionMateriauxModele").hide();
            $("#labelGestionMateriauxModele").hide();

        }
    });
</script>