<div class="container">
{{ form_start(form)}}
    <div class="container">
        <h6>Informations sur le client de la facture</h6>
        {% if facture.particulier %}
            <div class="row">
                <div class="col">
                    Client : {{facture.particulier.nom}}  {{facture.particulier.prenom}}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    Adresse email : {{facture.particulier.adresseemail1}}
                </div>
                <div class="col">
                    Numéro de téléphone portable : {{facture.particulier.numerotelephoneportable1}}
                </div>
                <div class="col">
                    Numéro de téléphone fixe : {{facture.particulier.numerotelephonefixe1}}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    Commentaire : {{facture.particulier.commentaire}}
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col">
                    Client : {{facture.professionnel.nomSociete}}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    Adresse email : {{facture.professionnel.adresseemail1}}
                </div>
                <div class="col">
                    Numéro de téléphone portable : {{facture.professionnel.numerotelephoneportable1}}
                </div>
                {% if facture.professionnel.numerotelephonefixe1 %}
                <div class="col">
                    Numéro de téléphone fixe : {{facture.professionnel.numerotelephonefixe1}}
                </div>
                {% endif %}
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    Commentaire : {{facture.professionnel.commentaire}}
                </div>
            </div>
        {% endif %}
        <br />
        <h6>Informations de la facture</h6>
        <div class="row">
            <div class="col">
                Identifiant de la facture : {{facture.NumFacture}}
            </div>
            <div class="col">
                Date création de la facture : {{facture.DateFacture|date('d/m/Y')}}
            </div>
            <div class="col">
                Date de signature de la facture : {{facture.DatePaiementFacture|date('d/m/Y')}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                Nombre de ligne de la facture : {{facture.ligneFacture|length}}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                Adresse du chantier de la facture : {{facture.AdresseChantier.Ligne1}} 
                {% if facture.AdresseChantier.Ligne2 %}
                    , {{facture.AdresseChantier.Ligne2}} 
                {% endif %}
                {% if facture.AdresseChantier.Ligne3 %}
                    , {{facture.AdresseChantier.Ligne3}} 
                {% endif %}
                , {{facture.AdresseChantier.CP}}, {{facture.AdresseChantier.Ville}}
                {% if facture.AdresseChantier.BoitePostale %}
                    , {{facture.AdresseChantier.BoitePostale}} 
                {% endif %}
            </div>
        </div>
        <br />
        {{ form_row(form.Remise)}}
        <div class="row">
            <div class="col">
                <p id="HT">Montant total de la facture HT : {{facture.PrixHT}}€</p>
            </div>
            <div class="col">
                <p id="TVA">Montant total de la TVA : {{facture.PrixTTC - facture.PrixHT}}€</p>
            </div>
            <div class="col">
                <p id="TTC">Montant total de la facture TTC : {{facture.PrixTTC}}€</p>
            </div>
        </div>
        <br />
        {% if facture.TVAAutoliquidation == true %}
        <div class="row">
            <div class="col">
                <p>TVA due par le preneur assujetti autoliquidation application article 242 nonies A, I-13° annexe au CGI</p>
            </div>
        </div>
        <br />
        {% endif %}
        <div class="row">
            <div class="col">
                <p>Objet : {{facture.objet}}</p>
            </div>
        </div>
        <br />
    </div>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Créer la facture')}}</button>
{{ form_end(form)}}
</div>
<script>
    document.getElementById('facture_remise_Remise').addEventListener('keyup', (event) => {
        if ({{facture.PrixHT}} >  document.getElementById('facture_remise_Remise').value) {
            var PrixHT = {{facture.PrixHT}} - document.getElementById('facture_remise_Remise').value;
        } else {
            var PrixHT = 0;
        }
        if ({{facture.PrixTTC}} > document.getElementById('facture_remise_Remise').value) {
            var PrixTTC = {{facture.PrixTTC}} - document.getElementById('facture_remise_Remise').value;
        } else {
            var PrixTTC = 0;
        }

        if (PrixTTC - PrixHT < 0){
            var MontantTVA = 0;
        } else {
            var MontantTVA = PrixTTC - PrixHT;
        }

        document.getElementById('HT').innerHTML = 'Montant total de la facture HT : ' + PrixHT.toFixed(2) + '€';
        document.getElementById('TTC').innerHTML = 'Montant total de la facture TTC : ' + PrixTTC.toFixed(2) + '€';
        document.getElementById('TVA').innerHTML = 'Montant total de la TVA : ' + MontantTVA.toFixed(2) + '€';
    })
</script>