{{ form_start(form)}}
    {{ form_row(form.Designation)}}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_row(form.PrixAchat)}}
            </div>
            <div class="col">
               {{ form_row(form.PrixUnitaire)}}
            </div>
        </div>
    </div>
    
    
    {{ form_row(form.Categorie)}}
    {{ form_row(form.UniteMesure)}}
    {{ form_row(form.TVA)}}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Créer le matériaux')}}</button>
{{ form_end(form)}}