{{ form_start(form)}}

    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_row(form.Montant)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.ModeReglement)}}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{{ button_label|default('Créer l\'acompte sur le devis')}}</button>
{{ form_end(form)}}