{% extends 'base.html.twig' %}

{% block title %}Modification contenu devis : PlacoCompta{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12" id="principal">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasMenuLabel">Gestion du devis</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="list-group">
                        <a href="/quote/detail/{{devis.id}}" class="list-group-item list-group-item-action"><i class="fa-solid fa-file"></i> Info. générales du devis</a>
                        <a href="/material" class="list-group-item list-group-item-action"><i class="fa-solid fa-screwdriver-wrench"></i> Liste des matériaux</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" id="principal">
            <h2>Modification du devis : {{devis.NumDevis}}</h2>
            {% include "_partials/_flash.html.twig"%}
            <hr>
            {% if devis.facture and not devis.facture.peutModifierDocument %}
                <p style="color: red">La facture lié à ce devis est éditée définitivement et ne peut plus être modifiée</p>
            {% endif %}
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Prix du devis (avant sauvegarde des modifications)
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    Prix HT : {{devis.PrixHT|round(2, 'floor')}}€
                                </div>

                                <div class="col">
                                    Prix HT : {{devis.PrixTTC|round(2, 'floor')}}€
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not devis.facture or devis.facture.peutModifierDocument %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Ajout d'une nouvelle ligne sur le devis
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <form method="POST" action="/quote/updatecontent/{{devis.id}}" name="addLigne" id="addLigne">                            
                                <div class="row" style="padding-bottom: 15px">
                                    <p><b>Matériaux</b></p>
                                    {# <input type="text" autocomplete="off" class="form-control" name="ligne_add_select" id="id_ligne_add_select" list="ligne_add_select" onChange="chargeMateriaux()" required>
                                        <datalist id="ligne_add_select" >
                                            {% for ligne in ligneAdd %}
                                            <option value="{{ligne.Designation}}" 
                                                    data-value="{{ligne.id}}"
                                                    data-pu="{{ligne.PrixUnitaire}}"
                                                    data-tva="{{ligne.tva.id}}">
                                            </option>
                                            {% endfor %}
                                        </datalist> #}
                                    <input type="hidden" id="materiaux_id" name="materiaux_id" value="x"/>
                                    <select id="materiau-select" style="width:99%">
                                        <option value="">Sélectionner un matériau</option>
                                        {% for ligne in ligneAdd %}
                                            <option value="{{ligne.id}}" 
                                                    data-id="{{ligne.id}}"
                                                    data-designation="{{ligne.Designation}}"
                                                    data-pu="{{ligne.PrixUnitaire}}"
                                                    data-tva="{{ligne.tva.id}}">{{ ligne.Designation }}</option>
                                        {% endfor %}
                                    </select>
                                    <hidden>
                                </div>
                                <div class="row" style="padding-bottom: 15px">
                                    <div class="col">
                                        <p><b>Désignation</b></p>
                                        <input type="text" autocomplete="off" class="form-control" id="des_add" name="des_add" required></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p><b>Prix unitaire</b></p>
                                        <input type="number" autocomplete="off" step="0.01" class="form-control" id="pu_add" name="pu_add" required></input>
                                    </div>
                                    <div class="col">
                                        <p><b>Quantité</b></p>
                                        <input type="number" autocomplete="off" class="form-control" id="qte_add" name="qte_add" required></input>
                                    </div>
                                    <div class="col">
                                        <p><b>Remise P.U</b></p>
                                        <input type="number" autocomplete="off" step="0.01" class="form-control" id="remise_add" name="remise_add"></input>
                                    </div>
                                    <div class="col">
                                        <p><b>TVA de l'article</b></p>
                                        <select class="form-select" id="tva_add" name="tva_add">
                                            {% for tva in tvas %}
                                            <option value={{tva.id}}>
                                                {{tva.Libelle}} ({{tva.Taux}}%)
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter la ligne')}}</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Contenu du devis
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <form method="POST" action="/quote/updatecontent/{{devis.id}}" name="formLigne" id="formLigne">
                                <input type="hidden" id="devis" name="devis" value="{{devis.id}}"/>
                                <table class="table">
                                    <tbody>
                                        {% for ligne in devis.ligneDevis %}
                                        <tr>    
                                            <input type="hidden" id="ligne_{{ligne.id}}" name="ligne_{{ligne.id}}" value="{{ligne.id}}"/>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col"><h6>Désignation</h6><input type="text" class="form-control" style="width:100%" id="des_{{ligne.id}}" name="des_{{ligne.id}}" value="{{ ligne.Designation }}" {% if devis.facture and not devis.facture.peutModifierDocument %} disabled {% endif %}></input></div>
                                                    <div class="w-100" style="margin-bottom: 10px"></div>
                                                    <div class="col">
                                                        <h6>Prix unitaire</h6>
                                                        <input type="number" step="0.01" class="form-control" id="pu_{{ligne.id}}" name="pu_{{ligne.id}}" value="{{ ligne.PrixUnitaire }}" {% if devis.facture and not devis.facture.peutModifierDocument %} disabled {% endif %}></input>
                                                    </div>
                                                    <div class="col">
                                                        <h6>Quantité</h6>
                                                        <input type="number" step="0.01" class="form-control" id="pu_{{ligne.id}}" name="pu_{{ligne.id}}" value="{{ ligne.PrixUnitaire }}" {% if devis.facture and not devis.facture.peutModifierDocument %} disabled {% endif %}></input>
                                                    </div>
                                                    <div class="col">
                                                        <h6>Remise P.U</h6>
                                                        <input type="number" class="form-control" id="qte_{{ligne.id}}" name="qte_{{ligne.id}}" value="{{ ligne.Qte}}" {% if devis.facture and not devis.facture.peutModifierDocument %} disabled {% endif %}></input>
                                                    </div>
                                                    <div class="col">
                                                        <h6>TVA</h6>
                                                        <select class="form-select" id="tva_{{ligne.id}}" name="tva_{{ligne.id}}" {% if devis.facture and not devis.facture.peutModifierDocument %} disabled {% endif %}>
                                                            {% for tva in tvas %}
                                                            <option value={{tva.id}} {% if tva.id == ligne.tva.id %}selected{% endif %}>
                                                                {{tva.Libelle}} ({{tva.Taux}}%)
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    {% if not devis.facture or not devis.facture.peutModifierDocument %} 
                                                    <div class="col col-lg-2">
                                                        <br />
                                                        <a href="/quote/delete/ligne/{{ligne.id}}" class="btn btn-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                                            </svg>   
                                                        </a>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <hr>
                                            </div>                                      
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if not devis.facture or devis.facture.peutModifierDocument %} 
                                <button type="submit" class="btn btn-primary">{{ button_label|default('Sauvegarder')}}</button>
                                {% endif %}
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    function chargeMateriaux() {
        var shownVal = document.getElementById('id_ligne_add_select').value;
        var value2send = document.querySelector("#ligne_add_select option[value='" + CSS.escape(shownVal) + "']").dataset.value;

        if (value2send) {
            document.getElementById('materiaux_id').value = value2send;
            document.getElementById('des_add').value = shownVal;
            document.getElementById('pu_add').value = document.querySelector("#ligne_add_select option[value='" + CSS.escape(shownVal) + "']").dataset.pu;
            document.getElementById('qte_add').value = 1;
            document.getElementById('remise_add').value = "";
            document.getElementById('tva_add').value = document.querySelector("#ligne_add_select option[value='" + CSS.escape(shownVal) + "']").dataset.tva;
        }
    }
</script>
{% endblock %}