{% if form %}
<div class="container">
    <h5 class="accordion-header" id="headingOne">
        Filtres
    </h5>
    
        <div class="accordion-body">
            {{ form_start(form)}}  
                {{ form_row(form.numDevis)}}
                {{ form_row(form.client)}}
                <table id="filtreprix">
                    <tbody>
                        <tr>
                            <td>{{ form_row(form.prixminTTC)}}</td>
                            <td>{{ form_row(form.prixmaxTTC)}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <button  type="submit" class="btn btn-secondary">Rechercher</button>
            {{ form_end(form)}}
        </div>
</div>
  
{% endif %}