{{ form_start(form)}}

    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_row(form.NumFacture)}}
            </div>
            <div class="col">
                {{ form_row(form.NumDossier)}}
            </div>
        </div>
    </div>
    <br />
    {% if facture.particulier %}
     <div class="container">
        <div class="row">
            <h6>Client : <a href="/customer/detail/{{facture.particulier.id}}">{{facture.particulier.nom}} {{facture.particulier.prenom}}</a></h6>
            <div class="col">
                <p>Email principal : {{facture.particulier.adresseemail1}}</p>
            </div>
            <div class="col">
                <p>Téléphone fixe principal : {{facture.particulier.numerotelephonefixe1}}</p>
            </div>
            <div class="col">
                <p>Téléphone portable principal : {{facture.particulier.numerotelephoneportable1}}</p>
            </div>
        </div>
    </div>
    {% endif %}

    {% if facture.professionnel %}
    <div class="container">
        <div class="row">
            <h6>Client : <a href="/customer/detail/{{facture.professionnel.id}}">{{facture.professionnel.nomsociete}}</a></h6>
            <div class="col">
                <p>Email principal : {{facture.professionnel.adresseemail1}}</p>
            </div>
            <div class="col">
                <p>Téléphone fixe principal : {{facture.professionnel.numerotelephonefixe1}}</p>
            </div>
            <div class="col">
                <p>Téléphone portable principal : {{facture.professionnel.numerotelephoneportable1}}</p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col">
                <p><b>Nombre de ligne dans la facture :</b> {{facture.ligneFacture|length}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Adresse du chantier</h6>
                {% if facture.AdresseChantier %}
                    {{facture.AdresseChantier.Ligne1}}
                    {% if facture.AdresseChantier.Ligne2 %}
                    <br/>{{facture.AdresseChantier.Ligne2}}
                    {% endif %}
                    {% if facture.AdresseChantier.Ligne3 %}
                    <br/>{{ facture.AdresseChantier.Ligne3 }}
                    {% endif %}
                    <br />{{ facture.AdresseChantier.CP}}, {{ facture.AdresseChantier.Ville}}
                    {% if facture.AdresseChantier.BoitePostale %}
                    <br/>{{ facture.AdresseChantier.BoitePostale }}
                    {% endif %}
                    {% if facture.peutModifierDocument %}
                    <br/><a href="/adressechantier/{{facture.AdresseChantier.id}}">Modifier l'adresse du chantier</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col">
                 <h6>Adresse de facturation</h6>
                {% if facture.AdresseChantier %}
                    {{facture.AdresseFacturation.Ligne1}}
                    {% if facture.AdresseFacturation.Ligne2 %}
                    <br/>{{facture.AdresseFacturation.Ligne2}}
                    {% endif %}
                    {% if facture.AdresseFacturation.Ligne3 %}
                    <br/>{{ facture.AdresseFacturation.Ligne3 }}
                    {% endif %}
                    <br />{{ facture.AdresseFacturation.CP}}, {{ facture.AdresseFacturation.Ville}}
                    {% if facture.AdresseFacturation.BoitePostale %}
                    <br/>{{ facture.AdresseFacturation.BoitePostale }}
                    {% endif %}
                    {% if facture.peutModifierDocument %}
                    <br/><a href="/adressefacturation/{{facture.AdresseFacturation.id}}">Modifier l'adresse de facturation</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <br/>
    
    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_row(form.DateFacture)}}
            </div>
            <div class="col">
                {{ form_row(form.DatePaiementFacture)}}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_row(form.Remise)}}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_row(form.PrixHT)}}
            </div>

            <div class="col">
                {{ form_row(form.PrixTTC) }}
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <p id="TVA">Montant totale de la TVA : <b>{{ facture.PrixTTC - facture.PrixHT|round(2, 'floor')}}€</b>
            </div>
        </div>
    </div>

    {% if facture.devis and facture.devis.acompte %}
    <div class="container">
        <div class="row">
            <div class="col">
               <b>L'acompte de <u>{{facture.devis.acompte.Montant}}€</u> a été réglé par <u>{{facture.devis.acompte.modereglement.Libelle}}</u></b>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">
        <div class="row">
            {% for echeance in facture.echeances %}
            <div class="col">
                Echéance de 100% soit <b>{{echeance.Montant}}€</b> par <b>{{echeance.ModeReglement.libelle}}</b>{% if echeance.IsRegle %} : Echéance réglée{% endif %}
            </div>
            {% endfor %}
        </div>
        {% if facture.peutModifierDocument %}
        <a href="/echeancier/{{facture.id}}">Gérer l'échéancier de la facture</a>
        {% endif %}
    </div>
    <br/>

    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_row(form.Objet)}}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_row(form.TVAAutoliquidation)}}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_row(form.isSousTotaux)}}
            </div>
        </div>
    </div>

    <br />
    {% if facture.peutModifierDocument %}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Créer la facture')}}</button>
    {% endif %}
{{ form_end(form)}}