{% extends 'base.html.twig' %}

{% block title %}Facture : PlacoCompta{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12" id="principal">
            <h2>Modification de la facture : {{facture.NumFacture}}</h2>
            {% include "_partials/_flash.html.twig"%}
            <hr>
            <a href="/invoice/detail/{{facture.id}}"><button type="button" class="btn btn-info">Info. générales de la facture</button></a>
            <hr> 
            {% if not facture.peutModifierDocument %}
                <p style="color: red">Cette facture est éditée définitivement et ne peut plus être modifiée</p>
            {% endif %}
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Prix de la facture (avant sauvegarde des modifications)
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    Prix HT : {{facture.PrixHT|round(2, 'floor')}}€
                                </div>

                                <div class="col">
                                    Prix HT : {{facture.PrixTTC|round(2, 'floor')}}€
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if (facture.peutModifierDocument) %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Ajout d'une nouvelle ligne sur la facture
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <form method="POST" action="/invoice/updatecontent/{{facture.id}}" name="addLigne" id="addLigne">                            
                                <div class="row" style="padding-bottom: 15px">
                                    <p><b>Matériaux</b></p>
                                    <input type="text" class="form-control" name="ligne_add_select" id="id_ligne_add_select" list="ligne_add_select" onChange="chargeMateriaux()" required>
                                        <datalist id="ligne_add_select" >
                                            {% for ligne in ligneAdd %}
                                            <option value="{{ligne.Designation}}" 
                                                    data-value="{{ligne.id}}"
                                                    data-pu="{{ligne.PrixUnitaire}}"
                                                    data-tva="{{ligne.tva.id}}">
                                            </option>
                                            {% endfor %}
                                        </datalist>
                                    <input type="hidden" id="materiaux_id" name="materiaux_id" value="x"/>
                                    <hidden>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p><b>Désignation</b></p>
                                        <input type="text" class="form-control" id="des_add" name="des_add" required></input>
                                    </div>
                                </div>
                                    <div class="col">
                                        <p><b>Prix unitaire</b></p>
                                        <input type="number" step="0.01" class="form-control" id="pu_add" name="pu_add" required></input>
                                    </div>
                                    <div class="col">
                                        <p><b>Quantité</b></p>
                                        <input type="number" class="form-control" id="qte_add" name="qte_add" required></input>
                                    </div>
                                    <div class="col">
                                        <p><b>Remise P.U</b></p>
                                        <input type="number" step="0.01" class="form-control" id="remise_add" name="remise_add"></input>
                                    </div>
                                    <div class="col">
                                        <p><b>TVA de l'article</b></p>
                                        <select class="form-select" id="tva_add" name="tva_add">
                                            {% for tva in tvas %}
                                            <option value={{tva.id}}>
                                                {{tva.Libelle}} ({{tva.Taux}}%)
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter la ligne')}}</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Contenu de la facture
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <form method="POST" action="/invoice/updatecontent/{{facture.id}}" name="formLigne" id="formLigne">
                                <input type="hidden" id="facture" name="facture" value="{{facture.id}}"/>
                                <table class="table table-hover">
                                    <thead>
                                        <th scope="col">Désignation</th>
                                        <th scope="col">Prix unitaire</th>
                                        <th scope="col">Quantité</th>
                                        <th scope="col">Remise P.U</th>
                                        <th scope="col">TVA de l'article</th>
                                        <th scope="col"></th>
                                    </thead>
                                    <tbody>
                                        {% for ligne in facture.ligneFacture %}
                                        <tr>
                                            <input type="hidden" id="ligne_{{ligne.id}}" name="ligne_{{ligne.id}}" value="{{ligne.id}}" />
                                            <td><input type="text" class="form-control" id="des_{{ligne.id}}" name="des_{{ligne.id}}" value="{{ ligne.Designation }}" {% if (not facture.peutModifierDocument) %}disabled{% endif %}></input></td> 
                                            <td><input type="number" step="0.01" class="form-control" id="pu_{{ligne.id}}" name="pu_{{ligne.id}}" value="{{ ligne.PrixUnitaire }}" {% if (not facture.peutModifierDocument) %}disabled{% endif %}></input></td> 
                                            <td><input type="number" class="form-control" id="qte_{{ligne.id}}" name="qte_{{ligne.id}}" value="{{ ligne.Qte}}" {% if (not facture.peutModifierDocument) %}disabled{% endif %}></input></td> 
                                            <td><input type="number" step="0.01" class="form-control" id="remise_{{ligne.id}}" name="remise_{{ligne.id}}" value="{{ligne.Remise}}" {% if (not facture.peutModifierDocument) %}disabled{% endif %}></input></td> 
                                            <td>
                                                <select class="form-select" id="tva_{{ligne.id}}" name="tva_{{ligne.id}}" {% if (not facture.peutModifierDocument) %}disabled{% endif %}>
                                                    {% for tva in tvas %}
                                                    <option value={{tva.id}} {% if tva.id == ligne.tva.id %}selected{% endif %}>
                                                        {{tva.Libelle}} ({{tva.Taux}}%)
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                {% if (facture.peutModifierDocument) %}
                                                <a href="/invoice/delete/ligne/{{ligne.id}}" class="btn btn-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                                </svg>   
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if (facture.peutModifierDocument) %}
                                <button type="submit" class="btn btn-primary">{{ button_label|default('Sauvegarder')}}</button>
                                {% endif %}
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    function chargeMateriaux() {
        var shownVal = document.getElementById('id_ligne_add_select').value;
        var value2send = document.querySelector("#ligne_add_select option[value='" + shownVal + "']").dataset.value;

        if (value2send) {
            document.getElementById('materiaux_id').value = value2send;
            document.getElementById('des_add').value = shownVal;
            document.getElementById('pu_add').value = document.querySelector("#ligne_add_select option[value='" + shownVal + "']").dataset.pu;
            document.getElementById('qte_add').value = 1;
            document.getElementById('remise_add').value = "";
            document.getElementById('tva_add').value = document.querySelector("#ligne_add_select option[value='" + shownVal + "']").dataset.tva;
        }
    }
</script>
{% endblock %}