{% extends 'base.html.twig' %}

{% block title %}Facture : PlacoCompta{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12" id="principal">
            <div class="sidenav">    
                <h5>Panneau de gestion</h5>
                {% if peutCreerDevis %}
                    <a href="/invoice/add/info"><button type="button" class="btn btn-info">Nouvelle facture</button></a>
                {% else %}
                    <p>Impossible de créer une facture car il n'y a pas de matériaux de créé ou de modèle de pièce.</p> 
                {% endif %}
                <br />
                <hr>
                {% include "facture/_partials/_search_facture_data.html.twig" %} 
            </div>

            <div class="main">
                <h2>Liste des factures</h2>
                {% if pagination|length > 0 %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">N° de facture</th>
                            <th scope="col">Client</th>
                            <th scope="col">Prix HT</th>
                            <th scope="col">Prix TTC</th>
                            <th scope="col">Date facture</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for facture in pagination %}
                        <tr onclick="window.location='/invoice/detail/{{facture.id}}'">
                            <th scope="row">{{facture.NumFacture}}</th>
                            {% if facture.particulier %}
                            <td>{{facture.particulier.nom}} {{facture.particulier.prenom}}</td>
                            {% else %}
                                {% if facture.professionnel %}
                                    <td>{{facture.professionnel.NomSociete}}</td>
                                {% else %}
                                    <td>Erreur</td>
                                {% endif %}
                            {% endif %}
                            <td>{{facture.PrixHT}}€</td>
                            <td>{{facture.PrixTTC}}€</td>
                            <td>{{facture.DateFacture|date('d/m/Y')}}</td>
                        </tr>
                        </a>
                        {% endfor %}
                    </tbody>
                </table>   
                <hr> 
                <br />   
                <div class="navigation flex justify-center mb-8">              
                    {{ knp_pagination_render(pagination)}}
                </div>
                {% else %}
                <div class="navigation flex justify-center mb-8">              
                    <p>Aucune facture n'a été trouvé.</p>
                </div>   
                {% endif %}
            </div>
        </div>
    </section>
</main>     

{% endblock %}